
body {
    font-family:'Segoe UI','Roboto',sans-serif;
}

#canvas {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    width: 400px
}

#outerborder {
    padding-bottom: 0;
    padding-top: 5%;
    height: auto;
}

#align {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
